@{
    ViewBag.Title = "Contact";
}
@section CostumStyle{

}
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Pages</li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Contact Us</li>
        </ul>
    </div>
</section>
<!-- contacts -->
<section class="w3l-contact-7 pt-5" id="contact">
    <div class="contacts-9 pt-lg-5 pt-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                        <div class="contact-form">
                            <h5 class="mb-2">Get in touch</h5>
                            <p class="mb-4">Your email address will not be published. Required fields are marked *</p>
                            <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="">
                                <div class="form-grid">
                                    <div class="input-field">
                                        <input type="text" name="w3lName" id="w3lName" placeholder="Your Name"
                                               required="">
                                    </div>
                                    <div class="input-field">
                                        <input type="email" name="w3lSender" id="w3lSender" placeholder="Email"
                                               required="">
                                    </div>
                                </div>
                                <div class="input-field mt-4">
                                    <textarea name="w3lMessage" id="w3lMessage" placeholder="Message"></textarea>
                                </div>
                                <input type="checkbox"> <label>
                                    Save my name, email, and website in this
                                    browser for the next time I comment
                                </label>
                                <button type="submit" class="btn btn-primary btn-style mt-3">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 cont-details">
                        <address>
                            <h5 class="">Our Office Address</h5>
                            <p>
                                <span class="fa fa-map-marker"></span>Estate sale office, 32, My Street, Kingston,
                                New York 12401.
                            </p>

                            <h5 class="mt-4 pt-lg-3">Phone informatiom</h5>
                            <p>
                                <span class="fa fa-mobile"></span> <strong>Phone :</strong>
                                <a href="tel:+1(12) 366 411 4999"> (+1) 366 411 499</a>
                            </p>

                            <p>
                                <span class="fa fa-phone"></span> <strong>Tel :</strong>
                                <a href="tel:+1(12) 366 411 4999"> (+1) 366 411 499</a>
                            </p>

                            <p>
                                <span class="fa fa-envelope"></span> <strong>Email :</strong>
                                <a href="mailto:mail@example.com"> mail@example.com</a>
                            </p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="map mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2895687731!2d-74.26055986835598!3d40.697668402590374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1562582305883!5m2!1sen!2sin"
                    frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
<!-- //contacts -->


@section CostumScript{

}